<section class="widget-subscribe widget-subscribe-article hide-desktop">
  <span class="cta-subscription">Subscribe to receive more posts like this</span>

  <form
    action="https://buttondown.com/api/emails/embed-subscribe/renatomassaro"
    method="post"
    target="popupwindow"
    onsubmit="window.open('https://buttondown.com/renatomassaro', 'popupwindow')"
    class="embeddable-buttondown-form"
  >
    <div class="input-group">
      <input class="input-email" type="email" name="email" id="bd-email" placeholder="Your email here" />
      <input class="input-submit" type="submit" value="Subscribe" />
    </div>

    <p class="subscription-note">
      At most one email per month. No spam.
    </p>
  </form>
</section>
